// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.bunny.net/css?family=noto-sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// `npm i bootstrap-icons` required!
@import '~bootstrap-icons/font/bootstrap-icons.css';
